entrypoint = "README.md"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Frontend Dev"

[[workflows.workflow]]
name = "Frontend Dev"
author = 41834918
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_PUBLIC_ALLOW_ORIGIN=* EXPO_NO_TUNNEL=1 EXPO_PACKAGER_PROXY_URL=https://$REPLIT_DEV_DOMAIN REACT_NATIVE_PACKAGER_HOSTNAME=$REPLIT_DEV_DOMAIN HTTPS=true npx expo start --port=8082 --clear --host lan"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8082
externalPort = 80
