entrypoint = "README.md"
modules = ["nodejs-20"]

[workflows]
runButton = "Frontend Dev"

[[workflows.workflow]]
name = "Frontend Dev"
author = 41834918
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --web --port=8081 --host=localhost"

[deployment]
run = ["sh", "-c", "npx serve web-build --listen 0.0.0.0 --port 5000"]
build = ["sh", "-c", "npm install && npx expo export --platform web"]

[[ports]]
localPort = 8081
externalPort = 80

[nix]
channel = "stable-24_05"
