entrypoint = "README.md"
modules = ["nodejs-20"]

[workflows]
runButton = "Frontend Dev"

[[workflows.workflow]]
name = "Frontend Dev"
author = 41834918
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --tunnel --port 8081 --clear"

[deployment]
run = ["sh", "-c", "npx serve web-build -l 0.0.0.0:5000"]
build = ["sh", "-c", "npm install && npx expo export --platform web"]
